:root.theme-light {
  --card-font-weight: 400;
  --card-title-font-weight: 700;
  --accent-color: #000;
  --contour-color: #000;
  --button-color: #fff;
  --dialog-color: #fff;
  --bg-color: #fff;
  --hover-color: rgba(0, 0, 0, 0.6);
  --bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

:root.theme-dark {
  --card-font-weight: 465;
  --card-title-font-weight: 785;
  --accent-color: #00cc14;
  --bg-color: #000;
  --contour-color: #00cc14;
  --button-color: #00cc14;
  --dialog-color: #000;
  --hover-color: rgba(0, 204, 20, 0.5);
  --bg-image: repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #000 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-font-weight: 465;
    --card-title-font-weight: 785;
    --accent-color: #00cc14;
    --bg-color: #000;
    --contour-color: #00cc14;
    --button-color: #00cc14;
    --dialog-color: #000;
    --hover-color: rgba(0, 204, 20, 0.5);
    --bg-image: repeating-linear-gradient(
        90deg,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(180deg, #000 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #007f0c 0%, #004306 100%);
  }
}
